@using Oqtane.Modules.Controls
@using OE.PDU.Module.LittleHelpBook.Services
@using OE.PDU.Module.LittleHelpBook.Models

@namespace OE.PDU.Module.LittleHelpBook
@inherits ModuleBase
@inject ILittleHelpBookService ClientLittleHelpBookService
@inject NavigationManager NavigationManager
@inject IStringLocalizer<Edit> Localizer

<form @ref="form" class="@(validated ? " was-validated" : "needs-validation" )" novalidate>
    <div class="container">
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="name" HelpText="Enter a name" ResourceKey="Name">Name: </Label>
            <div class="col-sm-9">
                <input id="name" class="form-control" @bind="@_name" required />
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-success" @onclick="Save">@Localizer["Save"]</button>
    <NavLink class="btn btn-secondary" href="@NavigateUrl()">@Localizer["Cancel"]</NavLink>
    <br /><br />
    @if (PageState.Action == "Edit")
    {
    }
</form>

@code {
    public override SecurityAccessLevel SecurityAccessLevel => SecurityAccessLevel.Edit;

    public override string Actions => "Add,Edit";

    public override string Title => "Manage Provider";

    private ElementReference form;
    private bool validated = false;

    private int _id;
    private string _name;
    private string _createdby;
    private DateTime _createdon;
    private string _modifiedby;
    private DateTime _modifiedon;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (PageState.Action == "Edit")
            {
                _id = Int32.Parse(PageState.QueryString["id"]);
                Provider provider = await ClientLittleHelpBookService.GetProviderAsync(_id);
                if (provider != null)
                {
                    _name = provider.Name;
                }
            }
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Loading Provider {ProviderId} {Error}", _id, ex.Message);
            AddModuleMessage(Localizer["Message.LoadError"], MessageType.Error);
        }
    }

    private async Task Save()
    {
        try
        {
            validated = true;
            var interop = new Oqtane.UI.Interop(JSRuntime);
            if (await interop.FormValid(form))
            {
                if (PageState.Action == "Add")
                {
                    Provider provider = new Provider();
                    provider.Name = _name;
                    provider = await ClientLittleHelpBookService.AddProviderAsync(provider);
                    await logger.LogInformation("Provider Added {Provider}", provider);
                }
                else
                {
                    Provider provider = await ClientLittleHelpBookService.GetProviderAsync(_id);
                    provider.Name = _name;
                    await ClientLittleHelpBookService.UpdateProviderAsync(provider);
                    await logger.LogInformation("Provider Updated {Provider}", provider);
                }
                NavigationManager.NavigateTo(NavigateUrl());
            }
            else
            {
                AddModuleMessage(Localizer["Message.SaveValidation"], MessageType.Warning);
            }
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Saving Provider {Error}", ex.Message);
            AddModuleMessage(Localizer["Message.SaveError"], MessageType.Error);
        }
    }
}
